<?xml version='1.0'?>
<robot name="mob_robot">

  <!-- Base Link is left foot bracet-->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <box size="0.125 0.062 0.02"/>
      </geometry>
      <material name="darkgrey">
          <color rgba=".2 .2 .2 1" />
      </material>
    </visual>
    <!-- Collision on base_link-->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <box size="0.125 0.062 0.02" />
      </geometry>
    </collision>
    <!--Mass in kilograms-->
    <inertial>
      <mass value="0.0005"/>
      <inertia ixx="0.13" ixy="0.0" ixz="0.0" iyy="0.21" iyz="0.0" izz="0.13" />
    </inertial>
  </link>
  

  <!--left foot motor-->
  <link name="left_foot_motor">
    <visual>
      <origin xyz="0 0 0.010009" rpy="4.71 0 0" />
      <geometry>
          <box size="0.0407 0.0197 0.0429"/>
      </geometry>
      <material name="darkgrey">
          <color rgba=".2 .2 .2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <box size="0.407 0.197 0.429" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.055"/>
      <inertia ixx="0.13" ixy="0.0" ixz="0.0" iyy="0.21" iyz="0.0" izz="0.13" />
    </inertial>
  </link>

  <!--This is the left food joint -->
  <joint name="left_foot_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_foot_motor"/>
    <origin xyz="0 0 0.01" rpy="0 0 0" />
    <axis xyz="0 0 0.01" />
  </joint>

</robot>
